.storiesContainer {
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    cursor: pointer;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

  @apply flex space-x-4 bg-white border mx-1 overflow-x-scroll rounded-lg p-5 mt-8;
}
